@import "tailwindcss";

@layer base {
  :root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    background-color: #050505; /* 호놀자 블랙 */
    color: rgba(255, 255, 255, 0.87);
    color-scheme: dark;
  }
  body {
    margin: 0;
    display: block; 
    min-width: 320px;
    min-height: 100vh;
  }
  button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
  }
}

@layer components {
  .text-gradient {
    background: linear-gradient(to right, #ff0000, #ff8a00);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}